.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
body{
  position: relative;
  color: #100808;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0) 10%, rgba(255,255,255,.5));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}
